:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(36, 36, 36, 0.87);
  --input-bg-color: #f0f0f0;
  --input-text-color: #555;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #3ec8ff 0%, #d6f7ff 100%);
  padding-top: 2rem;
  overflow: hidden;
}

#app {
  border-radius: 15px;
  text-align: center;
  color: #242424;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-container img {
  max-width: 50px;
  margin-right: 1em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  color: #414141;
  font-weight: 700;
  margin: 0;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.559);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.sorting-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

#sortTasks {
  padding: 0.5em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
}

.secondary-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.main-input {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

.main-input input[type="text"] {
  flex-grow: 1;
  padding: 0.75em;
  font-size: 1.25em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

input[type="datetime-local"], 
select, 
#sortTasks {
  padding: 0.5em;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #535bf2;
  border-color: #535bf2;
}

.filters-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.filters-container button:hover {
  opacity: 0.9;
}

.scrollable-task-list {
  height: 60vh;
  overflow-y: scroll;
}

.scrollable-task-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-task-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollable-task-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#taskList {
  list-style-type: none;
  padding: 0;
}

#taskList li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
  margin-bottom: 0.75em;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#taskList li:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#taskList li header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

#taskList li header .category {
  font-weight: bold;
  font-size: 0.9em;
  color: #646cff;
}

#taskList li header .deadline {
  font-size: 0.8em;
  color: #888;
}

#taskList li span {
  color: #414141;
  font-size: 1.2em;
  word-break: break-all;
}

#taskList span.completed {
  color: #888;
}

#taskList li.completed {
  background-color: #e6ffed;
  border-color: #b3ffcc;
}

#taskList li.completed span {
  text-decoration: line-through;
  color: #33cc66;
}

#taskList li.expired {
  background-color: #ffe6e6;
  border-color: #ffb3b3;
}

#taskList li.expired span {
  color: #ff6666;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 0.75em;
}

.deleteTask {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  font-size: 0.8em;
  align-self: flex-end;
}

.deleteTask:hover {
  background-color: #ff3333;
}

#noTasksMessage {
  font-size: 1.2em;
  color: #888;
  margin-top: 2em;
}

#noTasksContainer {
  text-align: center;
  margin-top: 20px;
}

#noTasksImage {
  width: 100px;
  height: auto;
  margin-top: 10px;
}
